COGNODB_URI=bolt+s://<your-instance-id>.databases.cognodb.com
COGNODB_USER=cognodb
COGNODB_PASSWORD=<your_cognodb_password>

FALKORDB_URI=localhost:6379

MEMGRAPH_URI=bolt://localhost:7688
MEMGRAPH_USER=
MEMGRAPH_PASSWORD=

ARANGODB_URI=http://localhost:8529
ARANGODB_USER=root
ARANGODB_PASSWORD=testpassword

SURREALDB_URI=http://localhost:8001
SURREALDB_USER=root
SURREALDB_PASSWORD=testpassword
